.favorites {
  padding-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}

.title {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 32px;
  margin: 0 0 60px;
  text-align: center;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  justify-content: center;
  grid-gap: 16px;
  padding-left: 0;
}

