.catalog {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

.nothing {
  font-size: 60px;
  font-family: 'Roboto', sans-serif, arial;
  text-align: center;
  margin: auto;
}