@keyframes showAnim {
  0%{
    transform: translateY(40px);
  }
  100%{
    transform: translateY(0);
  }
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 32px;
  position: relative;
  justify-content: space-between;
  transition: transform 0.2s;
}

.card:nth-child(even) {
  animation: showAnim 0.1s ease-in-out;
}

.card:nth-child(odd) {
  animation: showAnim 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 1px 17px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.image {
  max-width: 100%;
  margin-bottom: 8px;
  height: 180px;
  object-fit: contain;
  box-sizing: border-box;
}

.loader {
  height: 180px;
  margin-bottom: 8px;
}

.title {
  text-align: left;
  font-size: 16px;
  font-family: 'Helvetica Neue', serif, arial, sans-serif;
  font-weight: 600;
  color: #000;
  margin: 0 0 8px;
}

.brand {
  font-family: 'Roboto', serif, arial, sans-serif;
  position: absolute;
  top: 10px;
  right: 30px;
  font-weight: 600;
  transform: rotate(25deg);
  color: #8d8d8e;
}

.price {
  font-family: 'Roboto', serif, arial, sans-serif;
  font-size: 14px;
  color: #8d8d8e;
  margin: 0;
  text-align: left;
}
