.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 100px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.header:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
}

.logo {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 511.998 511.998' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M97.097 297.684c-4.765-.61-8.572 2.685-9.111 6.899-.538 4.202 2.3 8.36 7.08 8.972a8 8 0 002.031-15.871z'/%3E%3Cpath d='M511.998 320.035c0-39.865-32.404-72.036-71.997-72.036-25.181 0-26.523-2.733-56.851-20.424 3.768-7.551-5.24-15.011-11.949-9.976l-2.254 1.691-26.068-15.207c4.444-7.491-4.69-15.729-11.678-10.484l-2.754 2.066-25.882-15.098c5.184-7.45-4.157-16.377-11.364-10.968l-3.254 2.44-55.276-32.244c-12.625-7.366-29.006-3.763-37.259 8.647l-2.733 4.109a27.798 27.798 0 00.011 30.902l3.628 5.442-25.469 12.734c-15.934 7.967-35.51 2.954-45.541-12.095l-14.234-21.352c-15.155-22.729-49.077-21.213-62.154 2.757-18.038 33.07-17.909 32.674-20.302 37.699-11.539 22.737-17.572 55.203-12.863 86.435L.573 333.028a8 8 0 003.459 9.917c37.842 21.624 80.882 33.054 124.467 33.054h308.905c32.401 0 62.772-19.996 74.195-53.504.23-.699.395-1.611.399-2.46zm-16.275-5.468c-24.446 8.698-56.544 13.432-82.802 13.432-39.557 0-79.35-1.791-118.929-5.322l34.578-46.102c33.067 12.887 67.829 19.424 103.431 19.424 15.582 0 27.091-14.631 23.282-29.864 21.789 6.192 38.197 25.265 40.44 48.432zM205.998 161.418c3.168-4.763 5.574-9.419 12.633-9.419 4.573 0 2.67-.313 55.424 30.459l-14.853 11.14a8 8 0 009.599 12.801l20.254-15.19 25.5 14.875-15.354 11.515A8 8 0 00308.8 230.4l20.754-15.565 25.5 14.875L339.2 241.6a8 8 0 009.599 12.801l21.254-15.94 26.97 15.732c11.319 6.602 24.386 9.808 34.976 9.808 4.436 0 8 3.564 8 8s-3.564 8-8 8c-56.442 0-110.497-17.676-155.276-49.286l-62.894-44.392-7.828-11.742a11.844 11.844 0 01-.003-13.163zM62.966 178.604c7.323-13.427 26.314-14.261 34.795-1.544l14.234 21.352c14.551 21.829 42.928 29.069 66.01 17.53l29.293-14.646c64.027 45.191 75.523 54.865 106.098 68.848l-38.063 50.748a1342.981 1342.981 0 01-28.275-3.235 57.903 57.903 0 00-20.799-34.893 173.028 173.028 0 00-49.114-27.582L47.011 207.855zm374.439 181.395H128.499c-38.486 0-76.522-9.521-110.446-27.589l11.063-27.657 34.037 4.546a8 8 0 002.117-15.859l-34.209-4.569c-2.726-22.536.413-45.556 8.984-66.524l131.635 47.872a157.06 157.06 0 0144.588 25.041 42.09 42.09 0 0113.809 20.172c-.103-.014-102.218-13.692-103.145-13.692a7.996 7.996 0 00-7.995 8c0 4.098 3.086 7.476 7.058 7.944 108.195 14.437 178.281 26.315 286.928 26.315 24.091 0 51.872-3.697 75.276-10.277a62.12 62.12 0 01-50.794 26.277z'/%3E%3C/svg%3E");
  margin-right: 16px;
}

.navigationList {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.navigationItem {
  margin-right: 16px;
}

.navigationItem:last-of-type {
  margin-right: 0;
}

.link {
  color: #000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif, arial;
  font-size: 28px;
  outline: none;
  padding-bottom: 8px;
}

.link:hover {
  opacity: 0.8;
}


.activeLink {
  position: relative;
}

.activeLink:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

@media screen  and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0 16px;
  }

  .link {
    font-size: 16px;
  }

  .logo {
    margin-right: 0;
  }
}