.sneakerList {
  padding: 60px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 260px));
  justify-content: center;
  grid-gap: 16px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  background-color: #000;
  padding: 16px 32px;
  border-radius: 16px;
  color: #fff;
  outline: none;
  text-decoration: none;
  margin-bottom: 32px;
  transition: opacity 0.2s ease-in-out;
  border: none;
}